.show {
  background-color: #ADD8E6;
  border-radius: 5px;
}
.main-cont {
  display: flex;  
  margin-top: -30fpx;
  
}
span[property = "setName"] {
  font: small-caps bold 19px/1 sans-serif;
    color: #52307C;


}
.a {
  width: 100px;
  
}
.grid-container {
  display: flex;
}

.row {
  
  display: grid;
  grid-column: 1 / 2;  
  grid-template-columns: 70px 500px;
  border-radius: 10px;
}


.cont {
  position: absolute;
  top: 0px;
  margin-left: -30px;
  display: grid;
  grid-template-columns: repeat(2, [col] auto ) ;
  grid-template-rows: repeat(2, [row] 1px  );
}

.box {
   z-index: 25;
  }

.title {
  color: #52307C;
  min-width: 200px;
  grid-column: col 1/ span 1;
  grid-row: row 1 / span 2;
}

.underscore-title {
  background-color: #EEEE; 
  margin-left: 10%;
  border: 90px;
  height: 20px;
  width: 197px;
  grid-column: col 1 / span 100;
  grid-row: row 2 / 2;
  z-index: 15;
}

ul {
  list-style: none;
}

li {
  margin: 3px;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 4rem;
}

.entry {
  justify-content: left;
  width: 100px;
}


.entry-list {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin-left: -38px;
} 

.upbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 40px;
  margin-top: 50px;
} 

h5 {
  color: #52307C;
  font: small-caps bold 19px/1 sans-serif;
  margin: 0;
  margin-bottom: -10px; 
}

li {
  font-family: "Gill Sans", sans-serif;
}

.textbox {
  font-family: "Gill Sans", sans-serif;
  display: flex;
  font-size: 20px;
  align-items: center;
  margin:1rem;
  
} 




.follow-box {
  margin: 0px 20px;
}

.textbox {
  margin: 2px;
}
.topCont {
  display: flex;
}
.playlist {
  text-decoration: underline overline;
  font: small-caps bold 19px/1 sans-serif;
  margin-left: 140px;
  margin-top: 80px;
  margin-bottom: 10px;
}
.generate {
  margin-left: 80px;
  margin-top: 60px;
  margin-bottom: 20px;
  border-radius: 4px;
  background-color: #DCCFEC;
  border: none;
  width:100px;
  height:40px;
}

.generate:hover { 
  background-color: #AF91D3; 
}





